.Button {
    cursor: pointer;
    color: var(--primary-color)
}

.clear {
    padding: 0;
    border: 2px solid none;
    background: none;
    outline: none;
    padding: 5px;
}

.primary {
    background: var(--primary-color);
    color: var(--inverted-secondary-color);
    border: 2px solid;
    padding: 5px;
}