.app_blue_theme {
    --bg-color: #5e69ee;
    --inverted-bg-color: #ededf1;

    --primary-color: #39AFEA;
    --inverted-primary-color: #5e69ee;

    --secondary-color: #F4F4FB;
    --inverted-secondary-color: #5e69ee;

    // skeleton
    --skeleton-color: #39AFEA;
    --skeleton-shadow: #5e69ee;

    // code
    --code-bg: #6873eb;

    // card
    --card-bg: #ededf1;
}