.app.dark {
    --bg-color: rgb(71 71 71);
    --inverted-bg-color: #FFF;
    --primary-color: rgb(230 196 82);
    --secondary-color: rgb(255 255 255);
    --inverted-primary-color: #f5f5f5;;
    --inverted-secondary-color: #333;
}