.app.dark {
    --bg-color: #1a1a1a;
    --inverted-bg-color: #FFF;
    --primary-color: #bbb7b7;
    --secondary-color: #fff;
    --inverted-primary-color: #f5f5f5;;
    --inverted-secondary-color: #333;
}