.app_light_theme {
    --bg-color: #f2f2f3;
    --inverted-bg-color: #1a1a1a;
    --primary-color: #222;
    --secondary-color: #212529;
    --inverted-primary-color: #fafafa;
    --inverted-secondary-color: #f2f2f3;

    // skeleton
    --skeleton-color: #f2f2f3;
    --skeleton-shadow: #fafafa;

    // code
    --code-bg: #fafafa;
}