.app.light {
    --bg-color: #f2f2f3;
    --inverted-bg-color: #1a1a1a;
    --primary-color: #212529;
    --secondary-color: #212529;
    --inverted-primary-color: #bbb7b7;
    --inverted-secondary-color: #fff;
}